* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  perspective: 1000px;
  gap: 20px;
}

.card {
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 200px;
  position: relative;
  border-radius: 12px;
  transform-style: preserve-3d;
  transition: transform 500ms;
}

.card.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  padding: 20px;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg);
}
